
@import '~@angular/material/theming';


$pomodoro-app-primary: mat-palette($mat-cyan, 700, 900, A700);
$pomodoro-app-accent: mat-palette($mat-blue, A200, A100, A400);


$pomodoro-app-warn: mat-palette($mat-red);

$pomodoro-app-theme: mat-light-theme((
  color: (
    primary: $pomodoro-app-primary,
    accent: $pomodoro-app-accent,
    warn: $pomodoro-app-warn,
  )
));


@include angular-material-theme($pomodoro-app-theme);

